*.DS_Store
*~
build/
*.tmproj
.classpath
.project
.scala_dependencies
.settings
nbproject/
.~*
target/
build.properties
*.iml
bin
.idea
.metadata
# exclude compiled pdf
thesis/*.pdf
# exclude leftovers from calling processes
.attach_pid*